{% import 'macros/external_or_internal_link.html.twig' as link %}
{% extends 'pagelayout.html.twig' %}
{% block loader %}
    <script>
        const myTimeout = setTimeout(myStopFunction, 1000);

        function myStopFunction() {
            $( "#loading" ).fadeOut(1000, function() {
                $( "#loading" ).remove();
            });
        }
        function loaded() {
            this.myTimeout;
        }
    </script>
    <div id="loading">
        <img id="loading-image" src="{{ asset('assets/images/logo.webp') }}" alt="Chargement en cour ..."/>
        <h1>Nous chargeons votre futur projet!</h1>
    </div>
{% endblock %}

{% block content %}

    <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-light custom-background"
             style="min-height: 60vh;
            {% if not ez_is_field_empty(content, 'image_background') %}
                background-image: url('{{ ez_field_value(content, 'image_background').uri }}');
            {% endif %}
            ">
        <div class="container " style="">
            <div class="row mt-auto">
                <div class="col-lg-8 col-sm-12 text-center mx-auto text-white">
                    {% if not ez_is_field_empty(content, 'title') %}
                        <h1 class="display-4 mb-3">{{ ez_field_value(content, 'title') }}</h1>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'description') %}
                        <p class="lead mb-5">    {{ ez_render_field(content, 'description') }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{#    Kitchen related #}
    {% if kitchens is not empty %}
        <section class="pt-5 pb-5">
            <div class="container ">
                <div class="row d-md-flex-row   ">
                    <div class="col-md-5 ms-md-0 col-12   d-flex ">
                        <div class="card p-0   w-100 h-100 text-light shadow-lg  border-0 ">
                            {% if not ez_is_field_empty(kitchens.0, 'image_tile') %}
                                <img class="card-img h-100 w-100"
                                     src="{{ ez_field_value(kitchens.0, 'image_tile').uri }}"
                                     alt="Card image">
                            {% endif %}
                            <a class="card-img-overlay p-0 no-href-style" href="{{ path( "ez_urlalias", {"locationId": kitchens.0.versionInfo.contentInfo.mainLocationId} ) }}">
                                <div class="position-relative  w-100 h-100 brightness-filter d-flex">
                                    <div class="container-fluid align-self-center   mt-5 mb-2">
                                        <div class="row h-100 align-items-center">
                                            <div class="col-12">
                                                <h2 class="text-center pt-md-2 pt-sm-4 text-white">
                                                    {{ ez_field_value(kitchens.0, 'title') }}
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 h-100">
                        <div class="container-fluid w-100">
                            <div class="row">
                                <div class="col col-12 text-center text-md-start">
                                    {% if not ez_is_field_empty(content, 'title_relation') %}
                                        <h2 class="pt-4 pt-md-0"> {{ ez_field_value(content, 'title_relation') }}</h2>
                                    {% endif %}

                                    {% if not ez_is_field_empty(content, 'description_forward_kitchen') %}
                                        <p class="text-h3">
                                            {{ ez_render_field(content, 'description_forward_kitchen') }}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row align-content-center">
                                {% for kitchen in kitchens %}
                                    {% if loop.index != 1 %}
                                        <a class="card p-2 col-md-6  no-gutters text-light  border-light "
                                            href="{{ path( "ez_urlalias", {"locationId": kitchen.versionInfo.contentInfo.mainLocationId} ) }}">
                                            {% if not ez_is_field_empty(kitchen, 'image_tile') %}
                                                <img class="card-img h-100 shadow darkness-hover" style="height: 340px !important;" src="{{ ez_field_value(kitchen, 'image_tile').uri }}">
                                            {% endif %}

                                            <div class="card-img-overlay p-1 d-flex  flex-column  align-items-baseline justify-content-center ">
                                                <div class="container-fluid  h-100 brightness-filter  text-center">
                                                    <div class="row h-100 align-items-center">
                                                        <div class="col-12">
                                                            <h2 class="text-white mt-3 mb-3">
                                                                {{ ez_field_value(kitchen, 'title') }}
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{#    Text libre#}
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center">
                    {% if not ez_is_field_empty(content, 'text_content') %}
                            {{ ez_render_field(content, 'text_content') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{#    CTA #}
    <section class="mt-0 mb-5 pb-0 bg-dark cover"
             style="min-height: 20vw;
             {% if not ez_is_field_empty(content, 'image_background_cta') %}
                     background: url('{{ ez_field_value(content, 'image_background_cta').uri }}');
                     background-repeat: no-repeat;
                     background-size: cover;
             {% endif %}
            ">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center"
                 style="min-height: 20vw; ">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center p-5">
                            <h3 class="pb-2 h3 mt-1 fw-bold text-danger">
                                {% if not ez_is_field_empty(content, 'title_cta') %}
                                    {{ ez_field_value(content, 'title_cta') }}
                                {% endif %}
                            </h3>
                            {% if not ez_is_field_empty(content, 'description_cta') %}
                                {{ ez_render_field(content, 'description_cta') }}
                            {% endif %}
                            <a href="{{ link.link(content) }}"
                               class="btn btn-lg btn-round btn-lg btn-danger btn-rised ml-md-4 mt-md-4">{% if not ez_is_field_empty(content, 'title_cta') %}
                                    {{ ez_field_value(content, 'title_cta') }}
                                {% endif %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    carouselle#}
    {% if kitchensFamily is not empty %}
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="col-12">
                    {% if not ez_is_field_empty(content, 'title_family_kitchen') %}
                        <h3 class="mb-3">{{ ez_field_value(content, 'title_family_kitchen') }}</h3>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'description_kitchen_family') %}
                        {{ ez_render_field(content, 'description_kitchen_family') }}
                    {% endif %}
                </div>
                <div class="row">
                    {% for kitchenStyle in kitchensFamily %}
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="{{ path( "ez_urlalias", {"locationId": kitchenStyle.versionInfo.contentInfo.mainLocationId} ) }}">
                                    {% if not ez_is_field_empty(kitchenStyle, 'image_tile') %}
                                        <img class="card-img-top" alt="100%x280" style="height: 290px"
                                             src="{{ ez_field_value(kitchenStyle, 'image_tile').uri }}"
                                             alt="">
                                    {% endif %}

                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a class="no-href-style"
                                           href="{{ path( "ez_urlalias", {"locationId": kitchenStyle.versionInfo.contentInfo.mainLocationId} ) }}">{{ ez_field_value(kitchenStyle, 'family_kitchen_title') }}</a>
                                    </h4>
                                    <p class="card-text">
                                        {% if not ez_is_field_empty(kitchenStyle, 'short_description') %}
                                            {{ ez_render_field(kitchenStyle, 'short_description') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{#    réalistions#}
    {% if creations is not empty %}
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="col-12">
                    {% if not ez_is_field_empty(content, 'title_creation') %}
                        <h3 class="mb-3">{{ ez_field_value(content, 'title_creation') }}</h3>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'description_creation') %}
                        {{ ez_render_field(content, 'description_creation') }}
                    {% endif %}
                </div>
                <div class="row">
                    {% for creation in creations %}
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="{{ path( "ez_urlalias", {"locationId": creation.versionInfo.contentInfo.mainLocationId} ) }}">
                                    {% if not ez_is_field_empty(creation, 'image_tile') %}
                                        <img class="card-img-top" alt="100%x280" style="height: 290px"
                                             src="{{ ez_field_value(creation, 'image_tile').uri }}"
                                             alt="">
                                    {% endif %}

                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a class="no-href-style"
                                           href="{{ path( "ez_urlalias", {"locationId": creation.versionInfo.contentInfo.mainLocationId} ) }}">{{ ez_field_value(creation, 'title') }}</a>
                                    </h4>
                                    <p class="card-text">
                                        {% if not ez_is_field_empty(creation, 'description_short') %}
                                            {{ ez_render_field(creation, 'description_short') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
