{% extends 'pagelayout.html.twig' %}

{% block content %}

    <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-light custom-background"
             style="min-height: 60vh;
            {% if not ez_is_field_empty(content, 'image_background') %}
                background-image: url('{{ ez_field_value(content, 'image_background').uri }}');
            {% endif %}
            ">
        <div class="container " style="">
            <div class="row mt-auto">
                <div class="col-lg-8 col-sm-12 text-center mx-auto text-white">
                    {% if not ez_is_field_empty(content, 'title') %}
                        <h1 class="display-4 mb-3">{{ ez_field_value(content, 'title') }}</h1>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'description') %}
                        <p class="lead mb-5">    {{ ez_render_field(content, 'description') }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{#    Kitchen related #}
    {% if kitchens is not null %}
        <section class="pt-5 pb-5">
            <div class="container ">
                <div class="row d-md-flex-row   ">
                    <div class="col-md-5 ms-md-0 col-12   d-flex  ">
                        <div class="card p-0   w-100 h-100 text-light shadow-lg  border-0 ">
                            {% if not ez_is_field_empty(kitchens.0, 'image_tile') %}
                                <img class="card-img h-100 w-100"
                                     src="{{ ez_field_value(kitchens.0, 'image_tile').uri }}"
                                     alt="Card image">
                            {% endif %}
                            <a class="card-img-overlay p-1 p-md-3 " href="{{ path( "ez_urlalias", {"locationId": kitchens.0.versionInfo.contentInfo.mainLocationId} ) }}">
                                <div class="position-relative  w-100 h-25  d-flex">
                                    <div class="container-fluid align-self-start   mt-2 mb-2">
                                        <div class="row">
                                            <div class="col-7 col-md-5">
                                            </div>
                                            <div class="col-md-7 col-5 text-right">
                                                <div class="row align-items-center">
                                                    <div class="col-12 align-self-center">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="position-relative  w-100 h-50  d-flex">
                                    <div class="container-fluid align-self-center   mt-5 mb-2">
                                        <div class="row h-100 align-items-center">
                                            <div class="col-12">
                                                <h2 class="text-end pt-md-2 pt-sm-4 text-white">
                                                    {{ ez_field_value(kitchens.0, 'title') }}
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 h-100">
                        <div class="container-fluid w-100">
                            <div class="row">
                                <div class="col col-12 text-center text-md-start">
                                    {% if not ez_is_field_empty(content, 'title_relation') %}
                                        <h2 class="pt-4 pt-md-0"> {{ ez_field_value(content, 'title_relation') }}</h2>
                                    {% endif %}

                                    {% if not ez_is_field_empty(content, 'description_forward_kitchen') %}
                                        <p class="text-h3">
                                            {{ ez_render_field(content, 'description_forward_kitchen') }}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row align-content-center">
                                {% for kitchen in kitchens %}
                                    {% if loop.index != 1 %}
                                        <a class="card p-2 col-md-6  no-gutters text-light  border-light "
                                           data-toggle="modal"
                                           data-target=".bd-example-modal-lg"
                                            href="{{ path( "ez_urlalias", {"locationId": kitchen.versionInfo.contentInfo.mainLocationId} ) }}">
                                            {% if not ez_is_field_empty(kitchen, 'image_tile') %}
                                                <img class="card-img h-100 shadow" src="{{ ez_field_value(kitchen, 'image_tile').uri }}">
                                            {% endif %}

                                            <div class="card-img-overlay p-1 d-flex  flex-column  align-items-baseline justify-content-center ">
                                                <div class="container-fluid h-25">
                                                    <div class="row h-100 align-items-center">
                                                        <div class="col-6">
                                                        </div>
                                                        <div class="col-6 text-end">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container-fluid  h-50  text-center">
                                                    <div class="row h-100 align-items-center">
                                                        <div class="col-12">
                                                            <h2 class="text-white  mt-3 mb-3">
                                                                {{ ez_field_value(kitchen, 'title') }}
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container-fluid h-25  ">
                                                    <div class="row h-100 align-items-center">
                                                        <div class="col-6">
                                                            <i class="fa fa-cloud fa-lg" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="col-6 text-end">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{#    Text libre#}
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center">
                    {% if not ez_is_field_empty(content, 'text_content') %}
                            {{ ez_render_field(content, 'text_content') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{#    CTA #}
    <section class="mt-0 mb-5 pb-0 bg-dark cover"
             style="min-height: 50vw;
             {% if not ez_is_field_empty(content, 'image_background_cta') %}
                     background: url('{{ ez_field_value(content, 'image_background_cta').uri }}');
                     background-repeat: no-repeat;
                     background-size: cover;
             {% endif %}
            ">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center"
                 style="min-height: 50vw; ">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center p-5">
                            <h3 class="pb-2 h3 mt-1 fw-bold text-danger">
                                {% if not ez_is_field_empty(content, 'title_cta') %}
                                    {{ ez_field_value(content, 'title_cta') }}
                                {% endif %}
                            </h3>
                            {% if not ez_is_field_empty(content, 'description_cta') %}
                                {{ ez_render_field(content, 'description_cta') }}
                            {% endif %}
                            <a href="#"
                               class="btn btn-lg btn-round btn-lg btn-danger btn-rised ml-md-4 mt-md-4">Contacez nous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
