{% extends 'pagelayout.html.twig' %}

{% block content %}
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>{{ ez_field_value(content, 'title') }}</h1>
{#                    <h2>Subtitle comes here.</h2>#}
                    {% if not ez_is_field_empty(content, 'image') %}
                    <img alt="image" class="img-fluid mt-5"
                     src="{{ ez_field_value(content, 'image').uri }}">
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
    <section class="bg-white text-dark pt-0 pb-3 mb-0">
        <div class="container">
            <div class="row mt-0 mb-2 pt-5 d-flex justify-content-center">
                <div class="col-md-10 col-sm-12 ">
                    {{ ez_render_field(content, 'text_content') }}
                </div>
            </div>
        </div>
    </section>
    {% if images is not empty %}
        <section class="pt-3 pb-3">
            <div class="container">
                <div class="row row-grid">
                    {% for image in images %}
                        <div class="col-xs-6 col-md-3 my-1 text-center">
                            <figure class="figure">
                                <img src="{{ ez_field_value(image, 'image').uri }}"
                                     class="figure-img img-fluid rounded kitchen-images"
                                     data-image="{{ ez_field_value(image, 'image').uri }}"
                                     data-toggle="modal"
                                     data-target="#myModal"
                                     {% if not ez_is_field_empty(image, 'name') %}
                                        data-overview="{{ ez_field_value(image, 'name') }}"
                                        alt="{{ ez_field_value(image, 'name') }}"
                                     {% endif %}
                                >
                                {% if not ez_is_field_empty(image, 'caption') %}
                                    <figcaption class="figure-caption">
                                        {{ ez_render_field(image, 'caption') }}
                                    </figcaption>
                                {% endif %}
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if files is not empty %}
        <section class="pt-5 pb-3 mt-0 align-items-bottom d-flex bg-dark no-padding"
                 style="min-height: 60vh; background-size: cover; background-position: bottom; background-image: url({{ asset('assets/images/download_background.jpg') }});">
            <div class="container brightness-filter">
                <div
                        class="row  justify-content-start align-items-center d-flex  h-100 ">
                    <div class="col-12 col-md-6  h-50 ">
                        <h1 class="display-4  text-light mb-2 mt-5">
                            <strong>Ressources :</strong>
                        </h1>
                        <p>
                            {% for file in files %}
                                <a href="{{ ez_field_value(file, 'file') }}"
                                   class="btn btn-outline-light btn-round mt-2 mb-2 btn-lg btn-rised">
                                    <i class="fa fa-download  mr-md-2" aria-hidden="true"></i> {{ ez_field_value(file, 'title') }}</a>
                            {% endfor %}
                        </p>
                        <div class="btn-container-wrapper p-relative d-block  zindex-1">
                            <a class="btn btn-link btn-lg   mt-md-3 mb-4 scroll align-self-center text-light"
                               href="#section-1">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if kitchensRelations is not empty %}
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1>Découvrez nos autres cuisines</h1>
                    </div>
                </div>
                <div class="row pt-4">
                    {% for kitchen in kitchensRelations %}
                            <div class="col-md-4 border-0">
                                <a class="no-href-style" href="{{ path( "ez_urlalias", {"locationId": kitchen.versionInfo.contentInfo.mainLocationId} ) }}">
                                    <img alt="image" class="img-fluid rounded mt-1 mb-2 kitchen-images-relations"
                                         src="{{ ez_field_value(kitchen, 'image_tile').uri }}">
                                    <p class="text-h3 text-center"><u>{{ ez_field_value(kitchen, 'title') }}</u></p>
                                </a>
                            </div>

                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <div id="title"></div>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="text-align: center"><img style="width: -webkit-fill-available;" src="" id="image"/></p>
                    <p>
                    <div id="overview"></div>
                    </p>
                </div>
            </div>
        </div>
{% endblock %}