{% extends 'pagelayout.html.twig' %}

{% block content %}
    <section class="bg-light pt-5 pb-5 custom-background"
            {% if not ez_is_field_empty(content, 'image') %}
                style="background-image: url('{{ ez_field_value(content, 'image').uri }}');"
            {% endif %}
    >
        <div class="container pb-5">
            <div class="row justify-content-center d-flex text-white">
                <div class="col-xs-12 col-md-10 align-self-center">
                    <h1 class="display-4 text-center  mb-3 mt-5">{{ ez_field_value(content, 'list_kitchen_title') }}</h1>
                    <p class="lead  text-center">
                        {% if not ez_is_field_empty(content, 'short_description') %}
                            {{ ez_render_field(content, 'short_description') }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-3 pb-5">
        <div class="container">
            <div class="row">
                {% if not ez_is_field_empty(content, 'description') %}
                    <p class="lead mb-5">    {{ ez_render_field(content, 'description') }}</p>
                {% endif %}
            </div>
            {% for kitchen in kitchens %}
                <div class="text-center pb-0">
                    <div class="row justify-content-center d-flex">
                        <div class="col-12 col-md-12 align-self-center">
                            {% if not ez_is_field_empty(kitchen, 'image') %}
                                <a class="no-href-style"
                                   href="{{ path( "ez_urlalias", {"locationId": kitchen.versionInfo.contentInfo.mainLocationId} ) }}">
                                    <img src="{{ ez_field_value(kitchen, 'image').uri }}" alt=""
                                         class="img-fluid shadow-lg rounded mt-2 mb-2" style="margin:auto">
                                </a>
                            {% endif %}

                            <div class="row mt-5  justify-content-around d-flex">
                                <div class="col-md-12">
                                    <div class="featured-list-icon mt-1 mr-md-2 mb-4">
                                    </div>
                                    <h5 class="mb-12">{{ ez_field_value(kitchen, 'title') }}</h5>
                                </div>
                                <div class="row">
                                    <div class="mb-3">
                                        <a href="{{ path( "ez_urlalias", {"locationId": kitchen.versionInfo.contentInfo.mainLocationId} ) }}"
                                           class="btn btn-secondary">Voir notre
                                            cuisine {{ ez_field_value(kitchen, 'title') }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}